*{
  padding: 0px;
  margin: 0px;
  font-family: Century Gothic; }

/* fondo de la pagina */
.fondo {
  background-image: url(../recursos/fondo2.jpg);
  background-size: cover; }

.back {
  background-color: #DFDBE5;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23818b9b' fill-opacity='0.29'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }

h1 {
  font-family: 'Barlow Condensed', sans-serif;
  color: white;
  margin-left: 1rem; }

/* navegacion */
header {
  padding: 1rem; }

.navegacion {
  height: 5rem;
  /* width: 97,5vw; */
  background-color: black;
  border-top: 2px solid wheat;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.name {
  display: flex; }

.link-nav {
  display: flex;
  color: white;
  font-family: 'Barlow Condensed', sans-serif;
  text-decoration: none;
  margin-right: 4px;
  justify-content: right; }

.navegacion__menu {
  display: flex;
  margin-right: 3rem;
  list-style: none; }

.navegacion__menu li {
  border-radius: 3px;
  margin: 0 5px; }

.navegacion__menu li a {
  text-decoration: none;
  display: block;
  color:  rgb(156, 155, 153); }

.navegacion__menu li :hover, li.active {
  background-color: rgba(148, 147, 147, 0.473);
  transition: 1s; }

.hide {
  background-color: rgba(7, 7, 7, 0);
  color:  rgb(156, 155, 153);
  cursor: pointer;
  display: none; }

/* Main */
.encabezados {
  display: block;
  margin-top: 10rem;
  text-align: center; }

.formulario {
  border-radius: 2rem;
  background-color: #5b5a5c52;
  justify-content: center;
  text-align: center; }

h2 {
  margin-top: 5px;
  font-family: 'Courier New', Courier, monospace; }

.tarjeta {
  background-color: #5b5a5c52;
  align-items: center; }

.index__main {
  height: 350px; }



main {
  height: 450px; }

.main__contactanos{
  height:70vh

}

.main__sistemas {
  height: 55rem; }

.boton {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border: 2px solid #212529;
    background: #212529;
  }
  .css-button-sharp--black:hover {
    background: #fff;
    color: #212529
  }
  
  .css-button-gradient--2:hover {
    background-position: right center;
  }
  .css-button-gradient--2:active {
    top: 2px;
  }


/* footer */
footer {
  background-color: rgba(0, 0, 0, 0.884);
  height: 10rem; }

.redes-container {
  display: block;
  margin-top: 4rem;
  text-align: center;
  color: white; }

.title {
  padding-top: 1rem; }

.redes__1 {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-top: 2rem; }

.logo {
  width: 30px;
  height: 30px; }

.pie {
  color: white;
  background-color: black;
  height: 30px;
  padding-top: 1rem; }

/* media quaries */
@media (min-width: 320px) and (max-width: 540px) {
  header {
    
    flex-direction: column;
    justify-content: center; }
  footer {
    padding-bottom: 2px; }
  .navegacion__menu {
    flex-direction: column; }
  .navegacion {
    height: 15rem;
    text-align: center; }
  .title {
    padding-top: 2rem; }
  .redes__1 {
    padding-top: 2rem; } 
  .main__sistemas{ 
    height: 100rem }
  }
  

@media (min-width: 541px) and (max-width: 774px) {
  header {
    flex-direction: column;
    justify-content: center; }
  .navegacion__menu {
    flex-direction: column; }
  .navegacion {
    height: 10rem;
    text-align: center; }
  .title {
    padding-top: 2rem; }
  .redes__1 {
    padding-top: 2rem; } }

/* sobre nosotros */
.contenedor {
  width: 90%;
  height: 50%;
  margin: 2rem auto;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto); }

.hijo__1, .hijo__2 {
  background-color: #5b5a5c52;
  padding: 2rem;
  border-radius: 1rem; }

.hijo__1 {
  grid-column-start: 1;
  grid-column-end: 3; }

.hijo__2 {
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center; }
